@charset "UTF-8";
/* PARA EL TUTOR
 */
/* IMPORTS  */
/* HTML TAGS */
/* CLASSES */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
.navbar > .container-fluid {
  justify-content: space-around;
}
.navbar > .container-fluid a {
  margin: 0;
  padding: 0;
}
.navbar > .container-fluid p {
  margin: 0;
  padding: 0;
  text-align: center;
}
.navbar > .container-fluid .navbar-toggler {
  margin: 0;
  padding: 0.5rem;
}

.punchline {
  width: auto;
  font-size: 1.1rem;
}

.brand_logo {
  height: 5.5rem;
}

/* HTML TAGS */
/* CLASSES */
.foot_h {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.foot_links {
  display: flex !important;
  flex-direction: row;
  justify-content: space-evenly;
}
.foot_links a {
  height: 48px;
  width: 48px;
}

/* BOOTSTRAP OVERRIDES */
.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.carousel .carousel-inner {
  width: 90%;
}

/* CLASSES */
section .gallery_video {
  border: 0.1rem solid white;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
section .gallery_video div p {
  text-align: center;
  margin: 0;
}
section .gallery_video div a {
  text-decoration: underline;
}
section .gallery_pic {
  border: 0.1rem solid white;
  padding: 0.2rem;
  display: grid;
  justify-items: center;
  gap: 0.2rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
  grid-auto-flow: dense;
}
section .gallery_pic img {
  border: none;
  padding: 0;
  width: 95%;
  max-width: 25rem;
  margin: 0.2rem;
}

/* Buscado en internet para meter los google maps */
.mapouter {
  display: none;
  height: 300px;
  width: 400px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 400px;
  filter: invert(90%); /* agregado mío solo por curiosidad */
}
.gmap_canvas iframe {
  width: 400px;
  height: 300px;
}

/* STYLE RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

/* BOOTSTRAP OVERRIDES */
.container-fluid {
  margin: auto;
  padding: 0;
}

.row {
  margin: auto;
  padding: 0;
}

.navbar {
  width: 100%;
  padding: 0.2rem;
}

.nav-item {
  text-align: center;
}

/* HTML TAGS */
body {
  background-color: black;
  color: white;
}

header {
  background-color: rgb(168, 16, 22);
  padding: 0.2rem;
}

footer {
  background-color: rgb(168, 16, 22);
  padding: 0.2rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

section {
  padding: 0.2rem;
}
section h1, section h2, section h3 {
  text-align: center;
}
section p {
  text-align: justify;
}

article {
  padding: 0.2rem;
}
article h1, article h2, article h3 {
  text-align: center;
}
article p {
  text-align: justify;
}

/* CLASSES */
.active {
  text-decoration: underline;
}

.date_card {
  border: 0.1rem solid white;
  margin: 0.4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.date_card div p {
  text-align: center;
  margin: 0;
}
.date_card div a {
  text-decoration: underline;
}

.news_month {
  border: 0.1rem solid white;
  margin: 0.4rem 0;
}
.news_month div {
  border-top: 0.1rem dotted white;
  display: flex;
  flex-direction: column;
}
.news_month div a {
  text-align: center;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter input {
  margin: 0.4rem 0;
  width: 90%;
}

@media only screen and (min-width: 576px) {
  .mapouter {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .date_card {
    flex-direction: row;
    justify-content: space-evenly;
  }
}/*# sourceMappingURL=styles.css.map */