@charset "UTF-8";
/* PARA EL TUTOR
 */
/* IMPORTS  */
/* PARA EL TUTOR
Puse variables acá como parte del ejercicio,
pero creo que las estoy usando de una manera un poco desorganizada.
Sin embargo, aquí están para por lo menos demostrar el ejercicio
*/
/* HTML TAGS */
/* CLASSES */
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap");
.navbar > .container-fluid {
  justify-content: space-between;
}
.navbar > .container-fluid a {
  margin: 0;
  padding: 0;
}
.navbar > .container-fluid p {
  margin: 0;
  padding: 0;
  text-align: center;
}
.navbar > .container-fluid .navbar-toggler {
  margin: 0;
  padding: 0.5rem;
  color: black;
  border-color: black;
}

.nav-item {
  font-size: 1.6rem;
  border: 0.1rem solid black;
  margin: 0.1rem 0;
}
.nav-item:hover {
  filter: invert(100%);
}

.brand_logo {
  height: 5.5rem;
  animation: heartbeat 1s infinite alternate;
  transform-origin: center;
}

/* HTML TAGS */
/* CLASSES */
.foot_h {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.foot_links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.foot_links a {
  height: 48px;
  width: 48px;
}

/* BOOTSTRAP OVERRIDES */
.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.carousel .carousel-inner {
  width: 90%;
}

/* CLASSES */
section .gallery_video {
  border: 0.1rem solid white;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
section .gallery_video div p {
  text-align: center;
  margin: 0;
}
section .gallery_video div a {
  text-decoration: underline;
}
section .gallery_pic {
  border: 0.1rem solid white;
  padding: 0.2rem;
  display: grid;
  justify-items: center;
  gap: 0.2rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
  grid-auto-flow: dense;
}
section .gallery_pic img {
  border: none;
  padding: 0;
  width: 95%;
  max-width: 25rem;
  margin: 0.2rem;
}

.faded {
  position: relative;
  display: inline-block;
  color: black;
}
.faded:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-collapse: separate;
}
.faded.faded-all:before {
  box-shadow: inset 0 0 20px 16px;
}

/* Buscado en internet para meter los google maps */
.mapouter {
  display: none;
  height: 300px;
  width: 400px;
  margin: 0.2rem;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 400px;
  filter: invert(90%); /* agregado mío solo por curiosidad */
}
.gmap_canvas iframe {
  width: 400px;
  height: 300px;
}

/* STYLE RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

/* BOOTSTRAP OVERRIDES */
.container-fluid {
  margin: auto;
  padding: 0;
}

.row {
  margin: auto;
  padding: 0;
}

.navbar {
  width: 100%;
  padding: 0.2rem;
}

.nav-item {
  text-align: center;
}

/* HTML TAGS */
body {
  font-family: Barlow;
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  background-color: rgb(168, 16, 22);
  padding: 0.2rem;
}

footer {
  margin-top: auto;
  position: sticky;
  width: 100%;
  background-color: rgb(168, 16, 22);
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

main {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section, main article {
  width: 100%;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section h1, main section h2, main section h3, main article h1, main article h2, main article h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 1rem;
}
main section p, main article p {
  text-align: justify;
  margin: 0 0 1rem;
}

/* CLASSES */
.active {
  text-decoration: underline;
}

.date_card {
  border: 0.1rem solid white;
  margin: 0.4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.date_card div p {
  text-align: center;
  margin: 0;
}
.date_card div a {
  text-decoration: underline;
}

.news_month {
  border: 0.1rem solid white;
  margin: 0.4rem 0;
}
.news_month div {
  border-top: 0.1rem dotted white;
  display: flex;
  flex-direction: column;
}
.news_month div a {
  text-align: center;
}

.newsletter {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter input {
  margin: 0.4rem 0;
  width: 100%;
}

/* IDs */
#logo-card {
  background-color: white;
  height: 18rem;
  border-radius: 1rem;
  margin: 1rem 0;
  transition: width 2s, height 2s, background-color 2s, rotate 2s;
}
#logo-card:hover {
  animation-name: color_invert;
  animation-duration: 4s;
}

/* ANIMATION KEYFRAMES */
@keyframes color_invert {
  0% {
    filter: invert(0%);
  }
  20% {
    filter: invert(100%);
  }
  80% {
    filter: invert(100%);
  }
  100% {
    filter: invert(0%);
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
/* QUERIES */
@media only screen and (max-width: 280px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header nav > div a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  header nav > div button.navbar-toggler {
    width: 100%;
  }
}
@media only screen and (min-width: 576px) {
  .mapouter {
    display: block;
  }
  .foot_links {
    width: 60%;
  }
}
@media only screen and (min-width: 768px) {
  main {
    max-width: 80%;
  }
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
  }
  footer .foot_links {
    width: 50%;
    justify-content: left;
  }
  .date_card {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .mapouter {
    margin: 0.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  main {
    max-width: 70%;
  }
}/*# sourceMappingURL=styles.css.map */