/* HTML TAGS */

/* CLASSES */
.foot_h {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.foot_links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    a {
        height: 48px;
        width: 48px;
    }
}