/* BOOTSTRAP OVERRIDES */
.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .carousel-inner {
        width: 90%;
    }
}

/* CLASSES */
section {
    .gallery_video {
        border: $border-white-small;
        margin: $padding-576;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        div {
            p {
                text-align: center;
                margin: 0;
            }
            a {
                text-decoration: underline;
            }
        }
    }
    .gallery_pic {
        display: grid;
        justify-items: center;
        gap: 0.2rem;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
        grid-auto-flow: dense;
        img {
            width: 95%;
            max-width: 25rem;
            margin: $margin-576;
        }
    }
}