/* Buscado en internet para meter los google maps */

.mapouter {
    display: none;
    max-height: 300px;
    max-width: 400px;
}

.gmap_canvas {
    border-radius: 1rem;
    overflow: hidden;
    background: none !important;
    max-height: 300px;
    max-width: 400px;
    filter: invert(90%); /* agregado mío solo por curiosidad */
    iframe {
        width: 400px;
        height: 300px;
    }
}