/* Buscado en internet para meter los google maps */

.mapouter {
    display: none;
    height: 300px;
    width: 400px;
    margin: $margin-576;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 400px;
    filter: invert(90%); /* agregado mío solo por curiosidad */
    iframe {
        width: 400px;
        height: 300px;
    }
}