/* HTML TAGS */

/* CLASSES */
.navbar > .container-fluid {
    justify-content: space-between;
    a {
        margin: 0;
        padding: 0;
    }
    p {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .navbar-toggler {
        margin: 0;
        padding: 0.5rem;
        border: 0.2rem solid black;
    }
}

.nav-item {
    color: black;
    font-size: 1.6rem;
    font-weight: bolder;
    margin: 0.1rem 0 0.1rem 0.5rem;
    &:hover {
        filter: invert(100%)
    }
}

.brand_logo {
    height: 5.5rem;
    animation: heartbeat 1s infinite alternate;
	transform-origin: center;
}