@mixin faded($offset, $blur-radius, $spread-radius)
{
    
    &.faded-all:before {
        box-shadow: inset 0 0 $blur-radius $spread-radius;
    }
}

.faded {
    position: relative;
    display: inline-block;
    color: black;

    &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-collapse: separate;
    }

    @include faded($faded-offset, $faded-blur-radius, $faded-spread-radius);
}