
// COLOR PALETTE

$color-reinaRed: rgb(168, 16, 22);
$color-reinaRedDark: rgb(92, 6, 9);

// BORDERS FOR WHATEVER

$border-white-small: 0.1rem solid white;

// PADDINGS/MARGINS FOR QUERIES

$padding-576: 0.2rem;
$margin-576: 0.2rem;