/* PARA EL TUTOR
 */

/* IMPORTS  */
@import "variables";
@import "header";
@import "footer";
@import "gallery";
@import "gmap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

/* STYLE RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

/* BOOTSTRAP OVERRIDES */
.container-fluid {
    margin: auto;
    padding: 0;
}

.row {
    margin: auto;
    padding: 0;
}

.navbar {
    width: 100%;
    padding: $padding-576;
}

.nav-item {
    text-align: center;
}

/* HTML TAGS */
body {
    background-color: black;
    color: white;
}

header {
    background-color: $color-reinaRed;
    padding: $padding-576;
}

footer {
    background-color: $color-reinaRed;
    padding: $padding-576;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

section {
    padding: $padding-576;
    h1, h2, h3 {
        text-align: center;
    }
    p {
        text-align: justify;
    }
}

article {
    padding: $padding-576;
    h1, h2, h3 {
        text-align: center;
    }
    p {
        text-align: justify;
    }
}


/* CLASSES */
.active {
    text-decoration: underline;
}

.date_card {
    border: $border-white-small;
    margin: 0.4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    div {
        p {
            text-align: center;
            margin: 0;
        }
        a {
            text-decoration: underline;
        }
    }
}

.news_month {
    border: $border-white-small;
    margin: 0.4rem 0;
    div {
        border-top: 0.1rem dotted white;
        display: flex;
        flex-direction: column;
        a {
            text-align: center;
        }
    }
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        margin: 0.4rem 0;
        width: 90%;
    }
}

@import "queries";